<html>
<head>
</head>

<body>
  <pre>Welcome to PHOTO TAGGER! </pre>

  <div id="container">
    <div class="tags"></div>
    <%= image_tag "waldo.jpg", name: "1234", class: "image" %>
  </div>
</body>
</html>