/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#container {
  background-color: black;
  text-align: center;
  width: 1024px;
}

.image {
  max-width: 100%;
}

.box {
  border-color: black;
  height: 100px;
  width: 100px;
  margin-left: -50px;
  margin-top: -50px;
  border: 8px solid black;
  font-size: 200%;
}

.tag {
  position: absolute;
}

.tag_close{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 85px;
  margin-top: -20px;
}

.tag_close:hover{
  top: 3;
  left: 3;
}

.show{
  visibility: visible;
}

.hide{
  visibility: hidden;
}

.close {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 42px;
  margin-top: -62px;
}

.close:hover {
  left: 3;
  top: 3;
  border-radius: 40px;
}

#tag_targeter {
  position: absolute;
}

.tagged {
  font-size: 200%;
  text-shadow: 0.1em 0.1em white;
  color: red;
  text-align: center;
}

#target_names{
  list-style-type: none;
  padding: 0;
}

#target_names li {
  border: 5px solid black;
  background-color: white;
  text-align: center;
}

#target_names li:hover {
  border: 5px solid black;
  background-color: black;
  color: white;
}
